*.aps
*.ini
*.log
*.opensdf
*.sdf
*.suo
*.vcxproj.user

[Dd]ebug/
[Dd]ebugNoUnicode/
[Rr]elease/
[Rr]eleaseNoUnicode/
x64/
x86/

win-event-log/MSG00409.bin
win-event-log/MessageProvider.h
win-event-log/MessageProvider.rc
